<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.overmindy.mimicodecdemo"
          android:versionCode="1" android:versionName="1.0">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <application android:label="Mimi Codec Demo"
                 android:theme="@android:style/Theme.Material.NoActionBar"
                 android:extractNativeLibs="true"
                 android:allowBackup="false"
                 android:usesCleartextTraffic="false">
        <uses-native-library android:name="libcdsprpc.so" android:required="false" />
        <activity android:name=".MainActivity" android:exported="true"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
